body,
body * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: metropolis-regular;
}

body {
  display: flex; 
  flex-direction: column;
}

@font-face {
  font-family: metropolis-bold;
  src: url(metropolis-bold.otf);
}


@font-face {
  font-family: robotica;
  src: url(Robotica.ttf);
}

@font-face {
  font-family: metropolis-medium;
  src: url(metropolis-medium.otf);
}

@font-face {
  font-family: hemi-head;
  src: url(hemi-head-bd-it.ttf);
}

@font-face {
  font-family: metropolis-regular;
  src: url(metropolis-regular.otf);
}


@font-face {
  font-family: robotica-custom;
  src: url(Reqruit-2.otf);
}





.bar-start{

  background: rgb(6, 99, 175);
  background: -moz-linear-gradient(
    0deg,
    rgba(6, 99, 175, 1) 0%,
    rgba(7, 5, 50, 1) 49%,
    rgba(9, 7, 58, 1) 51%,
    rgba(215, 22, 50, 1) 100%
  );
  background: -webkit-linear-gradient(
    0deg,
    rgba(6, 99, 175, 1) 0%,
    rgba(7, 5, 50, 1) 49%,
    rgba(9, 7, 58, 1) 51%,
    rgba(215, 22, 50, 1) 100%
  );
  background: linear-gradient(
    0deg,
    rgba(6, 99, 175, 1) 0%,
    rgba(7, 5, 50, 1) 49%,
    rgba(9, 7, 58, 1) 51%,
    rgba(215, 22, 50, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0663af",endColorstr="#d71632",GradientType=1);
}


.bg-gradient
{
  background: rgb(255, 0, 0);
  background: -moz-linear-gradient(
    90deg,
    #87092b 0%,
    rgba(88, 4, 4, 1) 47%,
    #1195fb 81%
  );
  background: -webkit-linear-gradient(
    90deg,
    #87092b 0%,
    rgba(88, 4, 4, 1) 47%,
    #1195fb 81%
  );
  background: linear-gradient(
    90deg,
    #87092b 0%,
    rgba(88, 4, 4, 1) 47%,
    #1195fb 81%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff0000",endColorstr="#0fb2fb",GradientType=1);
}


.cool-list-item
{

width:30em;
border: 0 solid blue;
display: flex;
overflow: hidden;

}


.cool-list-item .column-left
{
  display: flex;
  flex-direction: column;

}


.cool-list-item .column-left .top-square-column
{

  flex: 1;  
  position: relative;
}

.cool-list-item .column-left .top-square-column::before
{
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 3px;
  background: #0662ac;
}

.cool-list-item .column-left .top-square-column::after
{
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 3px;
  background: #0662ac;
}

.cool-list-item .column-left .square-column
{

  width: 1em;
  height: 1em;
  position: relative;

}

.cool-list-item .column-left .square-column::after
{

  content: '';
  position: absolute;
  width: 200%;
  height: 3px;
  background: #0662ac;
  right: 0;
  bottom: 0;
  transform-origin: bottom right;
  transform: rotateZ(45deg);


}



.cool-list-item .column-right
{
display: flex;
flex-direction: column;  
}









.cool-list-item .column-right .top-square-column
{

  height: 5em;
  position: relative;
  flex: 1;
}



.cool-list-item .column-right .top-square-column::before
{
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 3px;
  background: rgba(215, 22, 50, 1);
}

.cool-list-item .column-right .square-column
{

  width: 1em;
  height: 1em;
  position: relative;

}

.cool-list-item .column-right .square-column::after
{

  content: '';
  position: absolute;
  width: 200%;
  height: 3px;
  background: rgba(215, 22, 50, 1);
  right: 0;
  bottom: -3px;
  transform-origin: bottom right;
  transform: rotateZ(45deg);


}







.cool-list-item .column-right .top-square-column::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3px;
  background: rgba(215, 22, 50, 1);
}






.cool-list-item .column-center
{
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 0.5em 0;
}





.cool-list-item .column-center::before,
.cool-list-item .column-center::after
{


  background: rgb(6, 99, 175);
  background: -moz-linear-gradient(
    45deg,
    rgba(6, 99, 175, 1) 0%,
    rgba(7, 5, 50, 1) 49%,
    rgba(9, 7, 58, 1) 51%,
    rgba(215, 22, 50, 1) 100%
  );
  background: -webkit-linear-gradient(
    45deg,
    rgba(6, 99, 175, 1) 0%,
    rgba(7, 5, 50, 1) 49%,
    rgba(9, 7, 58, 1) 51%,
    rgba(215, 22, 50, 1) 100%
  );
  background: linear-gradient(
    45deg,
    rgba(6, 99, 175, 1) 0%,
    rgba(7, 5, 50, 1) 49%,
    rgba(9, 7, 58, 1) 51%,
    rgba(215, 22, 50, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0663af",endColorstr="#d71632",GradientType=1);



}












.cool-list-item .column-center::before
{

  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 3px;
 

}

.cool-list-item .column-center::after
{

  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3px;
 

}

.content-padding {
  padding: 0 20%;
}

.content-margin {
  padding: 0 20%;
}

.cool-section {
  background: rgb(169, 15, 33);
  background: -moz-linear-gradient(
    90deg,
    rgba(169, 15, 33, 1) 0%,
    rgba(65, 2, 0, 1) 14%,
    rgba(51, 24, 42, 1) 17%,
    rgba(7, 118, 202, 1) 27%,
    rgba(7, 118, 202, 1) 31%,
    rgba(7, 118, 202, 1) 69%,
    rgba(7, 118, 202, 1) 73%,
    rgba(51, 24, 42, 1) 83%,
    rgba(65, 2, 0, 1) 86%,
    rgba(169, 15, 33, 1) 100%
  );
  background: -webkit-linear-gradient(
    90deg,
    rgba(169, 15, 33, 1) 0%,
    rgba(65, 2, 0, 1) 14%,
    rgba(51, 24, 42, 1) 17%,
    rgba(7, 118, 202, 1) 27%,
    rgba(7, 118, 202, 1) 31%,
    rgba(7, 118, 202, 1) 69%,
    rgba(7, 118, 202, 1) 73%,
    rgba(51, 24, 42, 1) 83%,
    rgba(65, 2, 0, 1) 86%,
    rgba(169, 15, 33, 1) 100%
  );
  background: linear-gradient(
    90deg,
    rgba(169, 15, 33, 1) 0%,
    rgba(65, 2, 0, 1) 14%,
    rgba(51, 24, 42, 1) 17%,
    rgba(7, 118, 202, 1) 27%,
    rgba(7, 118, 202, 1) 31%,
    rgba(7, 118, 202, 1) 69%,
    rgba(7, 118, 202, 1) 73%,
    rgba(51, 24, 42, 1) 83%,
    rgba(65, 2, 0, 1) 86%,
    rgba(169, 15, 33, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#a90f21",endColorstr="#a90f21",GradientType=1);

  clip-path: polygon(
    0% 0%,
    14% 0,
    17% 4%,
    27% 4%,
    31% 9%,
    69% 9%,
    73% 4%,
    83% 4%,
    86% 0%,
    100% 0,
    100% 100%,
    86% 100%,
    83% 96%,
    73% 96%,
    69% 91%,
    31% 91%,
    27% 96%,
    17% 96%,
    14% 100%,
    0% 100%
  );
}

.cool-section .section-content {
  background: rgb(14, 11, 77);
  background: -moz-radial-gradient(
    circle,
    rgba(14, 11, 77, 1) 33%,
    rgba(1, 0, 27, 1) 100%
  );
  background: -webkit-radial-gradient(
    circle,
    rgba(14, 11, 77, 1) 33%,
    rgba(1, 0, 27, 1) 100%
  );
  background: radial-gradient(
    circle,
    rgba(14, 11, 77, 1) 33%,
    rgba(1, 0, 27, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0e0b4d",endColorstr="#01001b",GradientType=1);

  clip-path: polygon(
    0% 0%,
    14% 2%,
    17% 6%,
    27% 6%,
    31% 9%,
    69% 9%,
    73% 6%,
    83% 6%,
    86% 2%,
    100% 0,
    100% 100%,
    86% 98%,
    83% 94%,
    73% 94%,
    69% 91%,
    31% 91%,
    27% 94%,
    17% 94%,
    14% 98%,
    0% 100%
  );
}

.section {
  float: left;
}

.section,
.section-content {
  display: inline-block;
  width: 100%;
}

.section-content {
  height: 100%;
}

.title-section
{
  font-family: robotica-custom;
    color: white;
    text-align: center;
    font-size: 3em;
    margin-bottom: 1em;
}

.section-one {
  background: url(bg1.jpeg);
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
}

.section-one .section-content {
  content: "";
  background: rgb(0, 0, 0);
  background: -moz-linear-gradient(
    90deg,
    rgba(32, 13, 13, 0.75) 67%,
    rgba(255, 255, 255, 0.6) 100%
  );
  background: -webkit-linear-gradient(
    90deg,
    rgba(32, 13, 13, 0.75) 67%,
    rgba(255, 255, 255, 0.6) 100%
  );
  background: linear-gradient(
    90deg,
    rgba(32, 13, 13, 0.75) 67%,
    rgba(255, 255, 255, 0.6) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#ffffff",GradientType=1);
}

.section-one .section-content {
  display: inline-block;
}

.section-two {
  background: rgb(217, 78, 78);
  background: -moz-linear-gradient(
    114deg,
    rgba(217, 78, 78, 1) 0%,
    rgba(215, 38, 38, 1) 8%,
    rgba(124, 42, 42, 1) 31%,
    rgba(120, 23, 23, 1) 53%,
    rgba(15, 178, 251, 1) 95%
  );
  background: -webkit-linear-gradient(
    114deg,
    rgba(217, 78, 78, 1) 0%,
    rgba(215, 38, 38, 1) 8%,
    rgba(124, 42, 42, 1) 31%,
    rgba(120, 23, 23, 1) 53%,
    rgba(15, 178, 251, 1) 95%
  );
  background: linear-gradient(
    114deg,
    rgba(217, 78, 78, 1) 0%,
    rgba(215, 38, 38, 1) 8%,
    rgba(124, 42, 42, 1) 31%,
    rgba(120, 23, 23, 1) 53%,
    rgba(15, 178, 251, 1) 95%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#d94e4e",endColorstr="#0fb2fb",GradientType=1);

  height: 60em;
  color: white;
  text-align: center;
}

.section-three {
  z-index: 10;
  

  transform: translateY(-28em);


}

.section-three .section-content {
  padding: 10em 0;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section-three .title-community {
  font-family: robotica-custom;
  color: white;
  font-size: 3em;
  display: block;
}

.section-three .community-info-items-container {
  width: 100%;
  display: inline-flex;
  justify-content: center;
  padding: 2em 0;
}

.section-three .community-info-items-container .item-community-info {
  width: 25em;
  position: relative;
  margin: 0 2em;
}

.section-three
  .community-info-items-container
  .item-community-info
  .box-community {
  background: url(SLIDE_11_DIGITAL_1.jpeg);
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
  display: inline-block;
  width: 100%;
  height: 13em;
  display: inline-block;

  clip-path: polygon(0 0, 90% 0, 100% 10%, 100% 100%, 10% 100%, 0 90%);
}

.section-three
  .community-info-items-container
  .item-community-info
  .box-community
  .bg-gradient {
  display: inline-block;
  width: 100%;
  height: 100%;
  opacity: 0.7;

}

.section-three
  .community-info-items-container
  .item-community-info
  .text-box-community {
  color: white;
  display: flex;
  margin-top: 1em;
}

.section-three
  .community-info-items-container
  .item-community-info
  .text-box-community
  .bar-start {
  display: inline-block;
  width: 0.7em;
  margin-right: 1em;

}

.section-three
  .community-info-items-container
  .item-community-info
  .logo-box-community {
  position: absolute;
  width: 6em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.section-two .txt1 {
  text-align: center;
  margin-top: 6em;
  font-family: metropolis-bold;
  margin-bottom: 0.5em;
}

.section-two .txt2 {
  font-family: robotica-custom;
  font-size: 3em;
  text-align: center;
}

.section-two .txt3 {
  font-family: metropolis-medium;
  text-align: center;
}

.section-two .txt4 {
  margin-top: 4em;
  padding: 0 20%;
  text-align: center;
  font-size: 0.8em;
}

.section-two .logo-welcome {
  margin-top: 2em;
  width: 4em;
}

#header {
  width: 100%;
  display: inline-flex;
  padding-top: 1em;
  padding-bottom: 1em;
}

#header .header-left {
  display: inline-flex;
  align-items: center;
}

#header .header-left .logo {
  width: 4em;
}

#header .header-right {
  display: inline-flex;
  flex: 1;
  align-items: center;
  justify-content: flex-end;
}

#header .header-right .header-socials {
}

#header .header-right .header-socials a {
  margin-left: 0.5em;
}

#header .header-right .header-socials a img {
  width: 1em;
}

#header .header-right .header-menu {
  list-style: none;
  display: inline-block;
}

#header .header-right .header-menu li {
  display: inline-block;
  padding: 0 2em;
  border-right: 2px solid #0fb2fb;
}

#header .header-right .header-menu li:last-child {
  border-right: none;
}

#header .header-right .header-menu li a {
  color: white;
  text-decoration: none;
  font-family: metropolis-medium;
}

.gradient-line {
  display: inline-block;
  width: 100%;
  height: 0.2em;
  background: rgb(255, 0, 0);
  background: -moz-linear-gradient(
    90deg,
    rgba(255, 0, 0, 1) 0%,
    rgba(88, 4, 4, 1) 47%,
    rgba(15, 178, 251, 1) 81%
  );
  background: -webkit-linear-gradient(
    90deg,
    rgba(255, 0, 0, 1) 0%,
    rgba(88, 4, 4, 1) 47%,
    rgba(15, 178, 251, 1) 81%
  );
  background: linear-gradient(
    90deg,
    rgba(255, 0, 0, 1) 0%,
    rgba(88, 4, 4, 1) 47%,
    rgba(15, 178, 251, 1) 81%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff0000",endColorstr="#0fb2fb",GradientType=1);
  float: left;
}


.gradient-bg-blue-to-red {
  background: rgb(255, 0, 0);
  background: -moz-linear-gradient(
    90deg,
    rgba(255, 0, 0, 1) 0%,
    rgba(88, 4, 4, 1) 47%,
    rgba(15, 178, 251, 1) 81%
  );
  background: -webkit-linear-gradient(
    90deg,
    rgba(255, 0, 0, 1) 0%,
    rgba(88, 4, 4, 1) 47%,
    rgba(15, 178, 251, 1) 81%
  );
  background: linear-gradient(
    90deg,
    rgba(255, 0, 0, 1) 0%,
    rgba(88, 4, 4, 1) 47%,
    rgba(15, 178, 251, 1) 81%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff0000",endColorstr="#0fb2fb",GradientType=1);
}

.slider-header-site {
  color: white;
}

.slider-header-site h2 {
  font-family: robotica-custom;
  font-size: 4em;
}

.slider-header-site p {
  font-family: metropolis-medium;
  font-size: 0.8em;
  margin-top: 0.3em;
}

.slider-header-site .btn_slider {
  font-family: metropolis-medium;
  text-transform: uppercase;
  margin-top: 3em;
}

.slider-header-site .btn_slider .btn_slider_content {
  position: absolute;
  background-color: black;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  clip-path: polygon(0 0, 95% 1%, 100% 35%, 100% 100%, 5% 100%, 0 65%);
  transform: scale(0.98, 0.94);
}

#top-slider {
  margin: 12em 0;
}

#top-slider .owl-dots {
  text-align: left;
}

.section-four {
  transform: translateY(-34em);
  background-image: url(videogamer-winning-first-person-shooter-tournament-using-rgb-keyboard-professional-headphones-pro-player-man-talking-with-other-players-online-game-competition-powerful-computer.jpeg);
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.section-four .section-content {
  background: rgb(255, 0, 0);
  background: -moz-linear-gradient(
    90deg,
    #87092b 0%,
    rgba(88, 4, 4, 1) 47%,
    #1195fb 81%
  );
  background: -webkit-linear-gradient(
    90deg,
    #87092b 0%,
    rgba(88, 4, 4, 1) 47%,
    #1195fb 81%
  );
  background: linear-gradient(
    90deg,
    rgb(71 5 20 / 94%) 0%,
    #1c0b0bb5 47%,
    rgb(6 20 138 / 54%) 81%
  );
  text-align: center;
}

.section-four .section-content .magic-shot-logo {
  width: 4em;
  display: inline-block;
  margin-bottom: 1.5em;
  margin-top: 8em;
}



.section-four .section-content h3 {
  color: white;
  font-family: robotica-custom;
  font-size: 3em;
  margin-bottom: 0.3em;
}

.section-four .section-content p {
  color: white;
  padding: 0;
  font-size: 0.8em;
}

.section-four .section-content .gamelist {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 4em;
  margin-bottom: 20em;
}

.section-four .section-content .gamelist .game-item {
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
  width: 14em;
  height: 10em;
  margin: 0 0.6em;
  position: relative;

  clip-path: polygon(0 0, 90% 0, 100% 10%, 100% 100%, 10% 100%, 0 90%);
}

.section-four .section-content .gamelist .game-item.gm1 {
  background-image: url(gta-bg.jpeg);
}

.section-four .section-content .gamelist .game-item.gm2 {
  background-image: url(csgo-bg.jpeg);
}

.section-four .section-content .gamelist .game-item.gm3 {
  background-image: url(rust-bg.jpeg);
}

.section-four .section-content .gamelist .game-item.gm4 {
  background-image: url(minecraft-bg.jpeg);
}

.section-four .section-content .gamelist .game-item .gradient-bg {
  display: inline-flex;
  width: 100%;
  height: 100%;
  background: rgb(255, 0, 0);
  background: -moz-linear-gradient(
    90deg,
    rgb(71 5 20 / 94%) 0%,
    #1c0b0bb5 47%,
    rgb(6 20 138 / 54%) 81%
  );
  background: -webkit-linear-gradient(
    90deg,
    rgb(71 5 20 / 94%) 0%,
    #1c0b0bb5 47%,
    rgb(6 20 138 / 54%) 81%
  );
  background: linear-gradient(
    90deg,
    rgb(71 5 20 / 94%) 0%,
    #1c0b0bb5 47%,
    rgb(6 20 138 / 54%) 81%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff0000",endColorstr="#0fb2fb",GradientType=1);
  opacity: 0.7;
}

.section-four .section-content .gamelist .game-item .game-item-logo {
  width: 4em;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.section-five
{
  transform: translateY(-40em);
  z-index: 20;
}


.section-five .cool-list-item .column-right .square-column
{
  overflow: hidden;
}

.section-five .cool-list-item .column-center
{

  padding: 1em 0.3em;
  width: 90%;

}


.section-five .title-news
{

  text-align: left;
  color: white;
  font-family: robotica-custom;

}


.section-five .short-desc-news
{

  text-align: left;
  color: white;
  font-size: 0.7em;
  margin-top: 0.4em;
  text-overflow: ellipsis;
  overflow: hidden; 
  white-space: nowrap;
}


.section-five .section-content
{
  text-align: center;
}


.section-five h1 {

  font-family: robotica-custom;
  color: white;
  text-align: center;
  margin-top: 4em;
  margin-bottom: 1em;
  font-size: 3em;

}


.section-five .container-news
{

display: inline-flex;
margin-bottom: 15em;

}


.section-five .container-news > .bar-start
{
  width: 0.2em;
  flex: 1;
  margin: 0 2em;

}


.section-five .container-news .main-news-container
{
display: inline-flex;
flex-direction: column;
width: 19em;
}

.section-five .news-list-container
{
display: inline-flex;
display: flex;
flex-direction: column;
justify-content: space-between;
}


.section-five .container-news .main-news-container .news-info-highlight
{

  display: flex;
  align-items: end;

  background: url(SLIDE_11_DIGITAL_1.jpeg);
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 19em;
  height: 12em;

  clip-path: polygon(0 0, 90% 0, 100% 10%, 100% 100%, 10% 100%, 0 90%);

}


.section-five .container-news .main-news-container .news-info-highlight::before
{

  content: '';


}

.section-five .container-news .main-news-container .news-info-highlight h2
{
  display: inline-block;
  color: white;
  font-family: robotica-custom;
  font-size: 0.9em;
  margin-left: 1em;
  margin-bottom: 0.8em;
}

.section-five .container-news .main-news-container .news-desctiption-cnt
{

display: flex;
margin-top: 1em;

}



.section-five .container-news .main-news-container .news-desctiption-cnt .bar-start
{

  width: 0.5em;
  /* height: 100%; */
  margin-right: 0.5em;
}


.section-five .container-news .main-news-container .news-desctiption-cnt .description-text
{

  color: white;
  font-size: 0.7em;
  text-align: left;
}



.section-six
{

  background: url(SLIDE_7_FOTO_3.jpeg);
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
  transform: translateY(-47em);

}


.section-six .section-content
{

  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.651);
  padding-bottom: 20em;

}


.section-six .magic-shot-logo
{

  margin-top: 10em;
  width: 4em;
}


.section-six .title-community
{

  font-family: robotica-custom;
  color: white;
  text-align: center;
  margin-top: 1em;
  margin-bottom: 0.3em;
  font-size: 3em;
  
}


.section-six .subtitle
{

  color: white;
  padding: 0;
  font-size: 0.8em;
  margin-bottom: 4em;
}

.section-six .cool-list-item
{

  width: auto;
  margin-bottom: 2em;
  
}

.section-six .cool-list-item .column-center
{

  width: 60em;
  padding: 1em 0;
  display: flex;
  flex-direction: row;

  justify-content: space-between;
  
}



.section-six  .date-desc
{

  color: white;
  width: 17em;

}

.section-six  .date-desc h3
{

  color: white;
  font-size: 0.8em;
  font-family: 'metropolis-bold';

}




.section-six  .date-desc p
{

font-size: 0.7em;
margin-top: 0.3em;

}
 

.section-six  .schedule
{

  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: robotica;
  font-weight: 400;

}



.section-six .book-button
{

  width: 10em;
  height: 1em;
  text-align: center;
  padding:1em 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1em;

  clip-path: polygon(0 0, 96% 0, 100% 20%, 100% 100%, 4% 100%, 0 80%);

}


.section-six .book-button span
{

  color: white;
  font-family: metropolis-medium;
}




.section-seven
{


  transform: translateY(-54em);



}




.section-seven .section-content
{
  padding-top: 12em;
  padding-bottom: 30em;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}




.section-seven .foto-carousel
{
  width: 60%;
  position: relative;
}

.section-seven .foto-carousel a
{
  display: flex;
  justify-content: center;
}



.section-seven .foto-carousel  img
{
  width: 5em;
}


.section-seven .owl-carousel .owl-nav button.owl-prev,
.section-seven .owl-carousel .owl-nav button.owl-next
{
  color: white;
  font-family: 'robotica-custom';
  font-weight: bold;
  font-size: 6em;
  transform: translateY(-1.15em);

}

.section-seven .owl-carousel .owl-nav
{
  display: flex;
  justify-content: space-between;
}


.section-seven .owl-carousel .owl-nav button.owl-next
{
  transform: translate(0.5em,-1.15em);
}


.section-seven .owl-carousel .owl-nav button.owl-prev
{
  transform: translate(-0.5em,-1.15em);
}

.section-seven .owl-carousel .owl-dots
{
  display: none;
}



/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .content-padding {
    padding: 0 5%;
  }

  .content-margin {
    padding: 0 5%;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .content-padding {
    padding: 0 5%;
  }

  .content-margin {
    padding: 0 5%;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .content-padding {
    padding: 0 20%;
  }

  .content-margin {
    padding: 0 20%;
  }
}

@media only screen and (max-width: 1290px) {
  .content-padding {
    padding: 0 5%;
  }

  .content-margin {
    padding: 0 5%;
  }
}
